<section id="service-section animated fadeIn">

    <div class="row">
        <div class="col-md-12 animated fadeIn">
            <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                <h2> Estadística e Indicadores </h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate</p>
            </div>
        </div>
        <div class="col-md-12 ">
            <h3 class="pull-left"> Informe CNU </h3><br><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laudantium consequuntur corporis obcaecati quo tempora qui exercitationem consequatur reprehenderit reiciendis recusandae a voluptate eos maxime dolorem, iure quasi dolor numquam quae quos?
                Reiciendis delectus ut voluptatibus debitis, est nemo quasi minus enim corrupti nisi, eos ex necessitatibus, impedit deserunt molestiae?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laudantium consequuntur corporis obcaecati quo tempora qui exercitationem consequatur reprehenderit reiciendis recusandae a voluptate eos maxime dolorem, iure quasi dolor numquam quae quos?
                Reiciendis delectus ut voluptatibus debitis, est nemo quasi minus enim corrupti nisi, eos ex necessitatibus, impedit deserunt molestiae?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laudantium consequuntur corporis obcaecati quo tempora qui exercitationem consequatur reprehenderit reiciendis recusandae a voluptate eos maxime dolorem, iure quasi dolor numquam quae quos?
                Reiciendis delectus ut voluptatibus debitis, est nemo quasi minus enim corrupti nisi, eos ex necessitatibus, impedit deserunt molestiae?
            </p>
        </div>

        <div class="col-md-12">
            <h3 class="pull-left"> UNI en Cifras </h3>
            <br><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laudantium consequuntur corporis obcaecati quo tempora qui exercitationem consequatur reprehenderit reiciendis recusandae a voluptate eos maxime dolorem, iure quasi dolor numquam quae quos?
                Reiciendis delectus ut voluptatibus debitis, est nemo quasi minus enim corrupti nisi, eos ex necessitatibus, impedit deserunt molestiae?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laudantium consequuntur corporis obcaecati quo tempora qui exercitationem consequatur reprehenderit reiciendis recusandae a voluptate eos maxime dolorem, iure quasi dolor numquam quae quos?
                Reiciendis delectus ut voluptatibus debitis, est nemo quasi minus enim corrupti nisi, eos ex necessitatibus, impedit deserunt molestiae?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laudantium consequuntur corporis obcaecati quo tempora qui exercitationem consequatur reprehenderit reiciendis recusandae a voluptate eos maxime dolorem, iure quasi dolor numquam quae quos?
                Reiciendis delectus ut voluptatibus debitis, est nemo quasi minus enim corrupti nisi, eos ex necessitatibus, impedit deserunt molestiae?
            </p>
        </div>
        <!-- <div class="col-md-4">
            <div class="services-post">
                <a><i class="fa fa-files-o"></i></a>
                <h2> Informe CNU </h2>
                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p> -->

        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Leer mas...
        </button>
            </div> -->
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">INFORME CNU</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="services-post">
                <a><i class="fa fa-columns"></i></a>
                <h2> UNI en Cifras </h2>
                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p> -->
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Leer mas...
              </button>
            </div> -->
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">UNI EN CIFRAS</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <div class="modal-body"> -->
        <!-- modal content  -->
        <!-- </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="services-post">
                <a><i class="fa fa-line-chart"></i></a>
                <h2> Estadísticas e Indicadores </h2>
                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                Leer mas...
                </button>
            </div> -->
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal2">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

                        </div>
                    </div>
                </div>
            </div> 
        </div>-->
    </div>
</section>