<!-- <div class="demo-3">
  <div class="container">
    <div class="content">
      <div class="grid">
        <div class="grid__item" data-size="1280x853">
          <a href="assets/img/original/1.jpg" class="img-wrap"><img src="assets/img/thumbs/1.jpg" alt="img01" />
            <div class="description description--grid">Assemblage</div>
          </a>
        </div>
        <div class="grid__item" data-size="958x1280">
          <a href="assets/img/original/2.jpg" class="img-wrap"><img src="assets/img/thumbs/2.jpg" alt="img02" />
            <div class="description description--grid">Demesne</div>
          </a>
        </div>
        <div class="grid__item" data-size="837x1280">
          <a href="assets/img/original/3.jpg" class="img-wrap"><img src="assets/img/thumbs/3.jpg" alt="img03" />
            <div class="description description--grid">Felicity</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x961">
          <a href="assets/img/original/4.jpg" class="img-wrap"><img src="assets/img/thumbs/4.jpg" alt="img04" />
            <div class="description description--grid">Propinquity</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x1131">
          <a href="assets/img/original/5.jpg" class="img-wrap"><img src="assets/img/thumbs/5.jpg" alt="img05" />
            <div class="description description--grid">Ephemeral</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x857">
          <a href="assets/img/original/6.jpg" class="img-wrap"><img src="assets/img/thumbs/6.jpg" alt="img06" />
            <div class="description description--grid">Surreptitious</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x1280">
          <a href="assets/img/original/7.jpg" class="img-wrap"><img src="assets/img/thumbs/7.jpg" alt="img07" />
            <div class="description description--grid">Scintilla</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x853">
          <a href="assets/img/original/8.jpg" class="img-wrap"><img src="assets/img/thumbs/8.jpg" alt="img08" />
            <div class="description description--grid">Vestigial</div>
          </a>
        </div>
        <div class="grid__item" data-size="865x1280">
          <a href="assets/img/original/9.jpg" class="img-wrap"><img src="assets/img/thumbs/9.jpg" alt="img09" />
            <div class="description description--grid">Zephyr</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x1280">
          <a href="assets/img/original/10.jpg" class="img-wrap"><img src="assets/img/thumbs/10.jpg" alt="img10" />
            <div class="description description--grid">Desideratum</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x850">
          <a href="assets/img/original/11.jpg" class="img-wrap"><img src="assets/img/thumbs/11.jpg" alt="img11" />
            <div class="description description--grid">Quixotic</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x853">
          <a href="assets/img/original/1.jpg" class="img-wrap"><img src="assets/img/thumbs/1.jpg" alt="img01" />
            <div class="description description--grid">Assemblage</div>
          </a>
        </div>
        <div class="grid__item" data-size="958x1280">
          <a href="assets/img/original/2.jpg" class="img-wrap"><img src="assets/img/thumbs/2.jpg" alt="img02" />
            <div class="description description--grid">Demesne</div>
          </a>
        </div>
        <div class="grid__item" data-size="837x1280">
          <a href="assets/img/original/3.jpg" class="img-wrap"><img src="assets/img/thumbs/3.jpg" alt="img03" />
            <div class="description description--grid">Felicity</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x961">
          <a href="assets/img/original/4.jpg" class="img-wrap"><img src="assets/img/thumbs/4.jpg" alt="img04" />
            <div class="description description--grid">Propinquity</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x1131">
          <a href="assets/img/original/5.jpg" class="img-wrap"><img src="assets/img/thumbs/5.jpg" alt="img05" />
            <div class="description description--grid">Ephemeral</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x857">
          <a href="assets/img/original/6.jpg" class="img-wrap"><img src="assets/img/thumbs/6.jpg" alt="img06" />
            <div class="description description--grid">Surreptitious</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x1280">
          <a href="assets/img/original/7.jpg" class="img-wrap"><img src="assets/img/thumbs/7.jpg" alt="img07" />
            <div class="description description--grid">Scintilla</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x853">
          <a href="assets/img/original/8.jpg" class="img-wrap"><img src="assets/img/thumbs/8.jpg" alt="img08" />
            <div class="description description--grid">Vestigial</div>
          </a>
        </div>
        <div class="grid__item" data-size="865x1280">
          <a href="assets/img/original/9.jpg" class="img-wrap"><img src="assets/img/thumbs/9.jpg" alt="img09" />
            <div class="description description--grid">Zephyr</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x1280">
          <a href="assets/img/original/10.jpg" class="img-wrap"><img src="assets/img/thumbs/10.jpg" alt="img10" />
            <div class="description description--grid">Desideratum</div>
          </a>
        </div>
        <div class="grid__item" data-size="1280x850">
          <a href="assets/img/original/11.jpg" class="img-wrap"><img src="assets/img/thumbs/11.jpg" alt="img11" />
            <div class="description description--grid">Quixotic</div>
          </a>
        </div>
      </div> -->
      <!-- /grid -->
      <!-- <div class="preview">
        <button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
        <div class="description description--preview"></div>
      </div> -->
    <!-- /preview -->
  <!-- </div>
</div>
</div> -->

<main>
		<div class="container">
			<!-- Seccion Portafolio -->
			<div class="row portafolio">
				<div class="col">
					<h2 class="titulo">Galería de Fotos</h2>
					<div class="row galeria justify-content-center">
						<div class="contenedor-imagen col-6 col-lg-4">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan7.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="contenedor-imagen col-12 col-lg-8">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan6.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="contenedor-imagen col-12 col-lg-8">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan5.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="contenedor-imagen col-6 col-lg-4">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan1.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="contenedor-imagen col-6 col-lg-4">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan4.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="contenedor-imagen col-6 col-lg-4">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan2.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="contenedor-imagen col-6 col-lg-4">
							<a href="#" data-toggle="modal" data-target="#modal">
								<img src="assets/img/plan3.jpeg" class="img-fluid imagen" alt="">
							</a>
						</div>
						<div class="modal fade" id="modal">
							<div class="modal-dialog d-flex justify-content-center align-items-center">
								<div class="modal-content">
									<img src="" id="imagen-modal" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>