<main>
    <div class="container">

        <div class="row portafolio">
            <div class="col">
                <h2 class="titulo">Galería de Fotos</h2>
                <div class="row galeria justify-content-center" *ngFor="let galeria of gallery">
                    <div class="contenedor-imagen col-6 col-lg-4">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto1" (click)="galeria.seleccionada = galeria.foto1" class="img-fluid imagen" alt="">
                        </a>
                    </div>
                    <div class="contenedor-imagen col-12 col-lg-8">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto2" (click)="galeria.seleccionada = galeria.foto2" class="img-fluid imagen" alt="">
                        </a>
                    </div>
                    <div class="contenedor-imagen col-12 col-lg-8">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto3" (click)="galeria.seleccionada = galeria.foto3" class="img-fluid imagen" alt="">
                        </a>
                    </div>
                    <div class="contenedor-imagen col-6 col-lg-4">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto4" (click)="galeria.seleccionada = galeria.foto4" class="img-fluid imagen" alt="">
                        </a>
                    </div>
                    <div class="contenedor-imagen col-6 col-lg-4">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto5" (click)="galeria.seleccionada = galeria.foto5" class="img-fluid imagen" alt="">
                        </a>
                    </div>
                    <div class="contenedor-imagen col-6 col-lg-4">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto6" (click)="galeria.seleccionada = galeria.foto6" class="img-fluid imagen" alt="">
                        </a>
                    </div>
                    <div class="contenedor-imagen col-6 col-lg-4">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img [src]="galeria.foto7" (click)="galeria.seleccionada = galeria.foto7" class="img-fluid imagen" alt="">
                        </a>
                    </div>

                    <div class="modal fade" id="modal">
                        <div class="modal-dialog d-flex justify-content-center align-items-center">
                            <div class="modal-content">
                                <img [src]="galeria.seleccionada" id="imagen-modal" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-area ">
                    <a class="btn btn-primary step__text" routerLink="/inicio">
    Regresar
    </a>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- <section class="gallery-block grid-gallery">
    <div class="container">
        <div class="heading">
            <h2>Galeria de Fotos</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image1.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image1.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image2.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image2.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image3.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image3.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image4.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image4.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image5.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image5.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image6.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image6.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image7.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image7.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image8.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image8.jpg">
                </a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="assets/img/image9.jpg">
                    <img class="img-fluid image scale-on-hover" src="assets/img/image9.jpg">
                </a>
            </div>
        </div>
        <div class="button-area ">
            <a class="btn btn-primary step__text" routerLink="/inicio">
                Regresar
            </a>
        </div>
    </div>
</section> -->