<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header animated fadeIn fast">
                <h2>Contáctanos</h2>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum </p> -->

            </div>

            <div class="col-sm-12 contact-wrapper">
                <div class="contact-details row">
                    <div class="col-md-4 col-sm-6 animated fadeIn">
                        <div class="contact-details-box">
                            <img src="assets/img/contact/undraw_address_udes.svg" class="step__image">
                            <h3>Oficina</h3>
                            <span>Frente a la Escuela de Danza</span>
                            <span>Managua, Nicaragua</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animated fadeIn">
                        <div class="contact-details-box">
                            <img src="assets/img/contact/undraw_coding_6mjf.svg" class="step__image">
                            <h3>Teléfonos</h3>
                            <span> 22701509 - 89663152</span>
                            <span>ext. 102, 121</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 animated fadeIn">
                        <div class="contact-details-box">
                            <img src="assets/img/contact/undraw_mail_box_kd5i.svg" class="step__image">
                            <h3>Correo</h3>
                            <span>correo@domain.com</span>
                            <span>correo2@ydomain.com</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>