<div class="container-fluid animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" *ngFor="let img of inicio">
                    <div class="carousel-item active">
                        <a routerLink="/gallery"><img class="d-block w-100" [src]="img.img1" [alt]="img.img1"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bienvenidos</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a routerLink="/gallery"><img class="d-block w-100" [src]="img.img2" [alt]="img.img2"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bienvenidos</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a routerLink="/gallery"><img class="d-block w-100" [src]="img.img3" [alt]="img.img3"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bienvenidos</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="wrapper">

    <div id="content">
        <div class="container">
            <div class="row" *ngFor="let img of  inicio">
                <div class="col-md-4 col-sm-6" id="ajuste">
                    <div class="pricing-table">
                        <div class="table-header">
                            <h3>
                                Documentos
                            </h3>
                        </div>
                        <div class="plan-info">
                            <img [src]="img.img5" class="step__image">
                            <div class="button-area">
                                <a class="btn btn-primary step__text" routerLink="/documentos">
                    Leer mas...
              </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" id="ajuste">
                    <div class="pricing-table">
                        <div class="table-header">
                            <h3>
                                Procesos

                            </h3>
                        </div>
                        <div class="plan-info">
                            <img [src]="img.img6" class="step__image">
                            <div class="button-area">
                                <a class="btn btn-primary step__text" routerLink="/procesos">
                    Leer mas...
                  </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" id="ajuste">
                    <div class="pricing-table">
                        <div class="table-header">
                            <h3 class="text-center">
                                Estadistísticas
                            </h3>
                        </div>
                        <div class="plan-info">
                            <img [src]="img.img7" class="step__image">
                            <div class="button-area">
                                <a class="btn btn-primary step__text" routerLink="/indicadores">
                    Leer mas...
                  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>