<div class="card text-center animated fadeIn" id="card-lg">
    <div class="card-body">
        <h3 class="card-title">Quienes Somos</h3>
    </div>
</div>
<hr>
<div class="container-fluid animated fadeIn" *ngFor="let whos of somos">
    <p class="text-justify">
        {{ whos.parrafo1 }}
    </p>
    <p class="text-justify">
        {{ whos.parrafo2 }}
    </p>
    <p class="text-justify">
        <strong>{{ whos.parrafo3 }} </strong>
    </p>
    <p class="text-justify">
        {{ whos.parrafo4 }}
    </p>
    <p class="text-justify">
        {{ whos.parrafo5 }}
    </p>
</div>
<hr>
<div class="container-fluid animated fadeIn fast" *ngFor="let whos of somos">
    <div class="row">
        <div class="col-md-6" id="dpei">
            <img [src]="whos.img1" class="expanded__image">
            <h3>Misión</h3>
            <p class="animated fadeIn fast">
                {{ whos.mision}}
            </p>
        </div>
        <div class="col-md-6" id="dpei2">
            <img [src]="whos.img2" class="expanded__image">
            <h3>Visión</h3>
            <p class="animated fadeIn fast">
                {{ whos.vision }}
            </p>
        </div>
    </div>
</div>
<hr>
<div class="card-body" *ngFor="let whos of somos">
    <h3 class="card-title">Fines y Objetivos </h3>
    <p class="text-justify">
        Los fines y objetivos de la División de Planificación y Evaluación Institucional (DPEI) son:
    </p>
    <ul>
        <li> {{ whos.objetivos1 }}</li>
        <li> {{ whos.objetivos2 }} </li>
        <li> {{ whos.objetivos3 }}</li>
    </ul>
</div>
<hr>

<div class="card-body">
    <h3 class="card-title">Organigrama DPEI</h3>
    <p class="text-justify">
        La estructura actual de DPEI es: <span>
                por delegación del Rector la DPEI depende de la VRG.
        </span>
    </p>
    <!-- primero boton -->
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg2">Organigrama Estructural</button>
    <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" *ngFor="let whos of somos">
        <div class="modal-dialog modal-lg2">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center">Organigrama Estructural</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
                </div>
                <img class="img-responsive" [src]="whos.img3" [alt]="whos.img3">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- segundo boton -->
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg3">Funciones</button>
    <div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel3" aria-hidden="true" *ngFor="let whos of somos">
        <div class="modal-dialog modal-lg2">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center">Funciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
                </div>
                <p class="text-justify">
                    {{ whos.header }}
                </p><br>
                <div class="container-fluid">
                    <ul class="text-justify">
                        <li>
                            {{ whos.funciones1 }}
                        </li>
                        <li>
                            {{ whos.funciones2 }}
                        </li>
                        <li>
                            {{ whos.funciones3 }}
                        </li>
                        <li>
                            {{ whos.funciones4 }}
                        </li>
                        <li>
                            {{ whos.funciones5 }}
                        </li>
                        <li>
                            {{ whos.funciones5 }}
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <button [routerLink]="['/colaboradores']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg2">Colaboradores</button>
</div>