<div class="card text-center animated fadeIn" id="card-lg">
  <div class="card-body">
    <h3 class="card-title">Quienes Somos</h3>
  </div>
</div><hr>
<div class="container-fluid">
  <p class="text-justify">
    La División de Planificación y Evaluación Institucional (DPEI) fue creado mediante el acuerdo 238, con fecha del 12 de marzo del año 2003, con el nombre de Programa de Planificación y Evaluación Institucional. Fue denominada como División, en el acuerdo número 2, inciso A. Modificaciones y Rectificaciones, numeral 13, de la sesión extraordinaria número 13-2014 del Consejo Universitario de la UNI, realizada el 03 de octubre del año 2014, según certificación de la sesión emitida el 07 de octubre de 2014, en la cual se cita:
  </p>
  <p class="text-justify">
    Modificar el numeral 1 del Acuerdo de Rectoría No. 238 de fecha 12 de marzo del año 2003 donde se crea el Programa de Planificación y Evaluación Institucional de la Universidad Nacional de Ingeniería, adscrito a la Rectoría. También se modifica el Acuerdo No. 2 del Acta de Consejo Universitario 09-2014 del 09-07-2014, referido a los cargos directivos, en todo aquello que diga Programa de Planificación y Evaluación Institucional.
  </p>
  <p class="text-justify">
    <strong>Debiendo leerse como:</strong><em> División de Planificación y Evaluación Institucional. Esta División se adscribe a la Rectoría, manteniendo la misma estructura interna.</em>
  </p>
  <p class="text-justify">
    Mediante el Acuerdo de Rectoría No. 420 del 13 de febrero del 2017 Se delega la atención directa del programa de Planificación y Evaluación Institucional al Vice rector General de la UNI. Posteriormente en el acuerdo número 2, inciso A. Modificaciones y Rectificaciones, numeral 14, de la sesión extraordinaria número 13-2014 del Consejo Universitario de la UNI, realizada el 03 de octubre del año 2014, según certificación de la sesión emitida el 07 de octubre de 2014, en la cual se cita:
  </p>
  <p class="text-justify">
    Modificar el acuerdo de Rectoria 420 del 13 de febrero 2007. El acuerdo debe leerse como:
  Delegar la atención directa de la División de Planificación y Evaluación Institucional al Vice rector General de la UNI.
  </p>
</div>
<hr>
<div class="container-fluid animated fadeIn fast">
  <div class="row">
    <div class="col-md-6" id="dpei">
        <img src="assets/img/note plan.svg" class="expanded__image">
      <h3>Misión</h3>
      <p class="animated fadeIn fast">La División de Planificación y Evaluación Institucional, es una Instancia de la UNI que Planifica, Dirige, Coordina y Acompaña el Proceso de Planificación Estratégica y Operativa; desde la Formulación, Seguimiento, Análisis Estadístico hasta la Evaluación Institucional, que contribuye en las relaciones e intercambios a lo interno y externo de la Universidad, la toma de decisiones oportunas, la mejora continua y rendición social de cuentas.
      </p>
    </div>
    <div class="col-md-6" id="dpei">
        <img src="assets/img/report.svg" class="expanded__image">
      <h3>Visión</h3>
      <p class="animated fadeIn fast">La División de Planificación y Evaluación Institucional, es una Instancia que contribuye a la mejora continua de la gestión institucional, al aseguramiento de la calidad y rendición social de cuentas de la Universidad Nacional de Ingeniería, ante las instancias correspondientes.</p>
    </div>
  </div>
</div><hr>
<div class="card-body">
  <h3 class="card-title">Fines y Objetivos </h3>
  <p class="text-justify">
    Los fines y objetivos de la División de Planificación y Evaluación Institucional (DPEI) son:
  </p>
  <ul>
    <li>Promover la cultura de Planificación, Seguimiento y Evaluación Institucional </li>
    <li>Administra las acciones de la Planificación Estratégica y Operativa Institucional.</li>
    <li>Capacitar y brindar acompañamiento a los responsables de áreas sobre el proceso de la Planificación Estratégica y Operativa desde la formulación, seguimiento, análisis estadístico y evaluación.</li>
  </ul>
</div><hr>

<div class="card-body">
  <h3 class="card-title">Organigrama DPEI</h3>
  <p class="text-justify">
    La estructura actual de DPEI es:
  </p>
  <!-- primer boton -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg">Organigrama Estructural</button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="text-center">Organigrama Estructura</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img class="img-responsive" src="assets/img/organigrama.jpg" alt="">
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
  </div>
</div>
<!-- segundo boton -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg2">Organigrama de Cargos</button>
<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg2">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="text-center">Organigrama de Cargos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img class="img-responsive" src="assets/img/org-cargos.gif" alt="Cargos">
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
  </div>
</div>
<!-- tercer boton -->
<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".bd-example-modal-lg3">Funciones</button>
<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-lg2">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="text-center">Funciones</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <p class="text-justify">
        Las funciones de DPEI son: (REVISAR: que den respuesta a los fines y objetivos. Redactas en presente indicativo y ordenar.
        Funciones de La División de Planificación y Evaluación Institucional:
      </p><br>
          <div class="container-fluid">
          <ul class="text-justify">
            <li>
              Administra las acciones de la planificación estratégica, planificación operativa, seguimiento institucional, indicadores de gestión, gestión de riesgo, estadísticas y evaluación.
            </li>
            <li>
              Elabora propuestas de procedimientos y criterios para la planificación institucional.
            </li>
            <li>
              Garantiza el cumplimiento de las políticas, normas y disposiciones dictadas por el Consejo Universitario relacionadas a la planificación institucional.
            </li>
            <li>
              Integra el Plan de Mejora a la Planificación Institucional.
            </li>
            <li>
              Capacita y acompaña a las distintas áreas de la Universidad en el uso y manejo del Sistema Informático de Planificación, Presupuesto y Seguimiento Institucional (SIPPSI) en Planificación Operativa Anual, Indicadores de gestión, Gestión de Riesgo, Seguimiento al POA y Estadísticas CNU.
            </li>
            <li>
              Analiza los resultados de la planificación de cada área de la universidad, así como la elaboración de informes trimestrales, anuales e informe físicos financieros trimestrales y anuales enviados a las instancias correspondientes.
            </li>
          </ul>
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
    </div>
  </div>
</div>
</div>





  <!-- <section id="team-section">
      <div class="container">
          <div class="row" *ngFor="let somo of somos">
              <div class="col-md-3  animated  fadeIn" data-wow-duration="2s" data-wow-delay="300ms">
                  <div class="team-member text-center">
                      <img [src]="somo.img" [alt]="somo.nombre" class="img-responsive">
                      <div class="team-details">
                          <h4>{{ somo.nombre }}</h4>
                          <p>{{ somo.cargo }}</p>
                          <p>{{ somo.tel }}</p>
                          <p>{{ somo.correo }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
