<footer>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Dirección</h4>
                        <address>
								<ul class="list-unstyled">
									<li>
                  Managua, Nicaragua<br>
										Sede Central ubicada en la Avenida Universitaria <br>
										Apartado Postal: 5595<br>
										<br>
									</li>
								</ul>
							</address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4> Procesos </h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"></a>
                            </li>
                            <li><a routerLink="/procesos">Planificación Estratégica</a></li>
                            <li><a routerLink="/procesos">Planificación</a></li>
                            <li><a routerLink="/procesos">Seguimiento Ejecución</a></li>
                            <li><a routerLink="/procesos">Evaluación</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4> Estadística e Indicadores </h4>
                        <ul class="list-unstyled">
                            <li><a routerLink="/indicadores">Informe CNU</a></li>
                            <li><a routerLink="/indicadores">Estadísticas UNI</a></li>
                            <li><a routerLink="/indicadores">UNI en Cifras</a></li>
                            <li><a routerLink="/indicadores">Estadísticas e Indicadores</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Enlaces de Interes</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=0&client-request-id=16ffd26d-f38b-4776-ae11-afa6f0750a9c&protectedtoken=true&nonce=636475639289867111.482392b0-5e33-4273-bad3-fad4c1b6aa10&state=DYtBEoAgCACxpueQIgj6HMy6duz7cdid2cMmANiDLUglBKasYk151D66GhGd0mvkLNhuZpRqjNMX4-NLLprqTiXFe-T38_wD"
                                    target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Correo UNI</a></li>
                            <li><a href="https://si.uni.edu.ni/SIPPSI/Formularios/login.aspx" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> SIPPSI</a></li>
                            <li><a href="http://www.uni.edu.ni/Calendario_Academico" target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i> Calendario Académico</a></li>
                            <li><a routerLink="/gallery"><i class="fa fa-image" aria-hidden="true" ></i> Galería</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" id="boder">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; {{ anio }} - DPEI. Todos los derechos reservados.</p>
                    <p class="text-xs-center"><a href="http://www.uni.edu.ni/" target="_blank">Universidad Nacional de Ingeniería</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>